header.bulma-modal-head {
  padding: 1rem;
}

.modal-card {
  min-width: 80vw;

  &.confirm {
    width: 500px;
  }

  .modal-card-foot {
    padding: 1rem;
  }
}

/* variations */
.modal-card.confirm {
  .modal-card-foot {
    display: flex;
    justify-content: flex-end;
  }
}
