header.bulma-modal-head {
  padding: 0.75rem;
}

.modal-card {
  min-width: 200px;

  .modal-card-foot {
    display: flex;
    justify-content: flex-end;
  }

  .modal-card-foot {
    padding: 1rem;
  }
}
