$body-overflow-y: auto;
@import '~bulma/bulma';
body,
html {
  // margin: 0;
  // padding: 0;
  color: #495057;
  // box-sizing: border-box;
  font-size: 14px;
  background-color: #eee;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.hidden {
  visibility: hidden;
}

.no-display {
  display: none;
}
