@import '~scss/variables';
.main-wrapper {
  display: flex;

  .side-nav-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 49px);

    .main-head {
      padding: 10px;
      border: 1px solid $border-gray;
    }

    .main-area {
      height: 100%;
      display: flex;
    }

    .oreo-section {
      position: relative;
      height: 100%;
      border: 1px solid $border-gray;
      border-top: none;
      min-width: 150px;

      &.notes {
        min-width: 300px;
        max-width: 350px;
      }

      &:first-of-type {
        border-right: none;
      }

      .oreo-body {
        height: calc(100% - 32px);
      }

      .oreo-item {
        padding: 5px 10px 5px 15px;
        border-bottom: 1px solid $border-gray;
        cursor: pointer;

        &:hover {
          background: darken(#eee, 5%);
        }

        &.active {
          background: darken(#eee, 15%);

          &.note {
            background: rgb(238, 174, 202);
            background: linear-gradient(
              90deg,
              rgba(238, 174, 202, 1) 0%,
              rgba(218, 218, 218, 1) 4%,
              rgba(218, 218, 218, 1) 100%
            );
          }
        }
      }

      .oreo-foot {
        .oreo-item {
          border-top: 1px solid $border-gray;
          border-bottom: none;
        }
      }
    }
  }
}

.note-item {
  .note-title {
    font-size: 1.1em;
  }
  .note-description {
    color: #565353;
    font-size: 0.9rem;
  }
  .tags-wrapper {
    display: flex;
    flex-wrap: wrap;

    .tag-item {
      font-size: 0.9rem;
      margin-right: 6px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.main-content {
  .content-section {
    padding: 20px 40px;

    .content-header {
      margin-bottom: 20px;
    }

    .content-title {
      font-size: 1.5em;
      border-bottom: 1px solid $border-gray;
    }

    .content-link {
      margin-bottom: 20px;
    }

    .description {
      padding-left: 10px;
      border-left: 5px solid $border-gray;
      margin-bottom: 1em;
    }

    .content-date {
      margin-top: 5px;
    }
  }
}
